body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 50px;
    margin-top: 50px;
}

#container {
    display: flex;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square {
    box-sizing: border-box;
    border: 1px solid #ccc;
    user-select: none;
    -webkit-user-drag: none;
}

.action-Bar {
    display: flex;
    gap: 10px;
}
